<div class="ui tiny modal" id="register_modal">
    <i class="close icon"></i>
    <div class="header">
        Register
    </div>
    <div class="content">
        <form class="ui form" action="/register" method="POST">
            <div class="field">
                <label>Username</label>
                <input type="text" name="username" placeholder="username">
            </div>
            <div class="field">
                <label>Password</label>
                <input type="password" name="password" placeholder="password">
            </div>
            <div class="actions">
                <div class="ui black deny button">
                    Go Back
                </div>
                <button type="submit" class="ui positive right labeled icon button">
                    Sign me up!
                    <i class="checkmark icon"></i>
                </button>
            </div>
        </form>
    </div>
</div>