<div class="widget-container">
    <div class="inner-widget-wrapper">
        <h3>MyCodeDashboard</h3>
        <h5>I created MyCodeDashboard to help consolidate all of my coding needs. I plan to incorporate methods for keeping notes, a to-do list, and other features. The dashboard is constantly being improved and upgraded so for the time being do not save
            anything important under the links section at a risk of it being lost. Please feel free to contact me below with issues and ideas.</h5>
        <a class="ui button orange" href="mailto:<%= email %>">Contact Me</a>
    </div>
</div>