<div class="widget-container">
    <div class="inner-widget-wrapper">
        <div class="ui two column centered grid">

            <div id="readNews" class="column">

                <button class="ui orange news button" onclick="getTechNews('crypto-coins-news')">Crypto News</button>
                <button class="ui teal news button" onclick="getTechNews('engadget')">Engadget</button>
                <button class="ui teal news button" onclick="getTechNews('techcrunch')">TechCrunch</button>
                <button class="ui teal news button" onclick="getTechNews('techradar')">TechRadar</button>
                <button class="ui teal news button" onclick="getTechNews('the-verge')">The Verge</button>
                <button class="ui teal news button" onclick="getTechNews('wired')">Wired</button>

            </div>
        </div>
        <div id="headlines">

        </div>

        <div class="slick-nav">
            <button class="ui button prev-slide"><i class="left arrow icon"></i></button>
            <button class="ui button next-slide"><i class="right arrow icon"></i></button>
        </div>
    </div>
</div>