<div class="widget-container">
    <div class="top-left">

    </div>
    <div class="top-right">
        <h1 class="city" id="city"></h1>
        <div id="tempDisplay">
            <h1 id="temperature"></h1>
        </div>
    </div>
</div>