<% include ./partials/header %>

<body id="mainSection" class="index pushable" ontouchstart="">

    <!--PUSHER-->
    <div class="pusher">
        
        <% include ./partials/sideMenu %>
        <% include ./partials/mobileHeader %>
        <% include ./partials/fullHeader %>

        <!--MAIN AREA CURRENTLY BLUE-->
        <div class="article">

            <div class="ui three column centered stackable grid">
                <div class="left four wide computer ten wide tablet six wide mobile column">
                    <% include ./widgets/description %>
                </div>

                <div id="newsColumn" class="eight wide computer ten wide tablet six wide mobile column">
                    <% include ./widgets/news %>
                </div>

                <div class="right four wide computer ten wide tablet six wide mobile column">
                    <% include ./widgets/weather %>
                </div>
            </div>
        </div>

        <!--END OF MAIN AREA-->

    </div>
    <!--END PUSHER-->

    <!--HIDDEN MODALS-->
    <% include ./partials/indexModals %>

    <% include ./partials/footer %>
    
    <script>
        $( document ).ready(function() {
                getTechNews('crypto-coins-news');
            });
    </script>